*{
    margin: 0%;
    padding: 0%;
}
.check{
    display: none;
}

.general{
    width: 100%;
    height: 800px;
}
.table{
    width: 300px;
    height: 300px;
    background-color: rgb(0, 139, 58);
    padding: 10px;
    border-radius: 10%;
    display: block;
    position: absolute;
    transform: translate(200px,100px);
    z-index: 2;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: white;
    font-size: 200%;
    
}
input:focus{
    outline: none;
}
.top input{
    width: 80%;
    height: 30px;
    margin-top: 10px;
}
input:nth-child(2){
    background: url(login.jpg) no-repeat 99% 50%;
    background-size: 25px;
    background-color: white;
    padding-right: 30px;
}
input:nth-child(3){
    background: url(pass.jpg) no-repeat 99% 50%;
    background-size: 25px;
    background-color: white;
    padding-right: 30px;
}
.botom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
input[type="checkbox"]:checked ~ .table_1 {
    animation: anim_1 1s  linear;
    animation-fill-mode: forwards;
}

label{
    font-size: 200%;
    border: red solid 1px;
    background-color: salmon;
    color: blue;
}
.table_1{
    width: 300px;
    height: 300px;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 10%;
    display: block;
    position: absolute;
    transform: translate(200px,100px);
    z-index: 3;
}
@keyframes anim_1{
    0%{

    }
    100%{
        transform: translate(50px,200px);
        z-index: 1;
        opacity: .3;
    }
}